@import "compass/utilities/lists";
@import "compass/css3";

@include font-face("ChunkFive", font-files("../../fonts/ChunkFive.otf", opentype));


body.main {
  #container {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    @include container;
    
    header {
      padding: 5px 0;
      margin: 0;
      margin-bottom: 20px;
      
      hgroup {
        float: left;
        
        h1 {
          background-color: #333;
          padding: 4px 10px 5px 10px;

          a {
            letter-spacing: 3px;
            font-family: "ChunkFive";
            color: white;
          }
          
          a:hover {
            color: #FF4E4B;
          }
        }
        
        div.speech-arrow {
          margin-left: 100px;
          font-size: 0px; line-height: 0%; width: 0px;
          border-top: 15px solid #333;
          border-left: 15px solid #f0f0f0;
          border-right: 15px solid #f0f0f0;
        }
        
      }
    }
    
    menu {
      ul {
        display: inline-block;
        @include inline-list;
        padding: 5px;
        margin: 5px;
        
        li {
          padding-left: 0;
          padding-right: 10px;
          
          a {
            color: #FF4E4B;
          }
          
          a:hover {
            color: #333;
          }
        }
      }
    }
    
    
    header, footer {
      @include column($blueprint-grid-columns); }
    #content {
      @include column($blueprint-grid-columns);
      
      section {
        display: block;
      }
    }
  }
}