@import "compass/css3/gradient";

section#get-started {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  
  
  #status-bubble {
    background-color: #FF4E4B;
    padding: 30px;
    @include border-radius(20px);
    textarea#tweet_status {
      color: white;
      font-size: 200%;
      font-weight: bold;
      background-color: transparent;
      border: 0;
      width: 100%;
      outline-style: none;
      
      &::-webkit-input-placeholder {
        color: #F7DEDD;
        font-style: italic;
      }
    }
  }
  
  .speech-arrow {
    margin-left: 450px;
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 25px solid #FF4E4B;
    border-left: 25px solid #f0f0f0;
    border-right: 25px solid #f0f0f0;
  }
  
  
  #new-tweet button {
    float: right;
    margin: 20px;
    padding: 5px;
    //@include linear-gradient(color-stops(#f0f0f0, #e0e0e0));
    width: 200px;
    //@include border-radius(20px);
    border: 1px solid #548147;
    background-color: #8CD331;
    
    h2 {
      font-size: 200%;
      font-weight: bold;
      color: white;
    }
  }
  
  #existing {
    display: none;
  }
  
  input#tweet_status_url, input#tweet_status {
    font-size: 200%;
    width: 500px;
    
  }
}