%ul
  - for choice in @possible_choices
    - count = @results[choice]
    - percentage = (count.to_f / @total).ceil * 100
    %li
      .result
        %strong= choice
        %strong.percentage= "#{percentage}%"
      %div.progress{:style => "width: #{percentage}%"}
        &nbsp;