%ul
  - for choice in @possible_choices
    - count = @results[choice] || 0
    - percentage = (count.to_f / @total).ceil * 100
    %li
      %a{:href => "blah"}= choice
      %span.count= "#{percentage}%"
      %span.percentage{:style => "width: #{percentage}%"}= count