<h1>Create a poll</h1>

<%= form_for :tweet, :url => polls_path do |f| %>
  <label for="status_url">Enter the permalink to your post (in the shape of http://twitter.com/<em>username</em>/status/<em>id</em>)</label>
    <%= f.text_field :status_url %>
    <input type="submit" value="start!">
<% end %>