
%section#question
  #profile-picture
    %img{:src => twitter_profile_image }
  #tweet
    %h1!= auto_link(@poll['text'])
  #type
    Votatoe guessed this is a
    %strong=@type
    question
    - if !@possible_choices.blank?
      with the following choices: 
      - for choice in @possible_choices
        %strong= choice
    

%section#answers
  %h2
    %span#answers-count= @total
    people answered. Here's what they had to say
  - if !@results.blank?
    = render @type